*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
body{
  font-family:sans-serif
  object-fit: object-contain;
  display:flex;
  //background-color:rgba(166, 115, 255, 0.8);
  //background:url("/domains/vishnuprojects.freewebhostmost.com/public_html");
  background-repeat: no-repeat;
background-size: cover;
  background-position:center center;
  height:100vh;
  width:100vw;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  object-position: center;
  overflow:hidden;
}
.formbox{
  position:relative;
  top:300px;
  height:400px;
  left:50px;
  //right:100px;
  width:80vw;
  display: flex;
  flex-direction:column;
  border:12px solid white;
  backdrop-filter:blur(1px);
}
.container{
  position:absolute;
  display:flex;
  justify-content:vertical;
  align-content: center;
  height:100%;
  width:100%;
  border:5px solid #66B2FF;
  overflow-x:hidden;
  
}
input{
  font-family:sans-serif;
  font-size:1.3em;
  height:100px;
  color:grey;
  cursor:pointer;
  transform:translate(0%);
  border:6px solid #66B2FF;
  box-shadow: 10px 15px 10px 0px #FFFFFF; 
}
textarea{
  height:230px;
  font-family:sans-serif;
  box-shadow: 10px 15px 10px 0px #66B2FF; 
  color:grey;
  font-weight:bold;

  border:5px solid #66B2FF;
}
button{
  height:150px ;
  color:grey;
  position:relative;
  width:150px;
background-color:red;
color:white;
left:150px;
cursor:pointer;
border:5px solid #66B2FF;
}
button:hover{
  color:pink;
}
button,input,textarea:hover{
  border:25px solid golden;
}
.title{
  position:relative;
  font-size: 2.0em;
  color:grey;
  
  
}
.name{
  color:red;
  font-size:1.6em;
  font-weight:bold;
}